@charset "utf-8";

:root {
  --font-base:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI Variable",
  "Segoe UI",
  Roboto,
  "Noto Sans",
  Ubuntu,
  Cantarell,
  "Liberation Sans",
  "DejaVu Sans",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Noto Color Emoji",
  sans-serif;

  --font-header:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI Variable",
  "Segoe UI",
  Roboto,
  "Noto Sans",
  Ubuntu,
  Cantarell,
  "Liberation Sans",
  "DejaVu Sans",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Noto Color Emoji",
  sans-serif;
}

html,
body,
button,
input,
textarea,
select {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand,
.hub-banner,
.ExerciseTitle {
  font-family: var(--font-header);
}
