.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

.icon-key {
  color: #e0162b;
  font-size: 32px;
  width: 0.939453125em;
}

.icon-help {
  color: #e0162b;
  font-size: 32px;
}

.icon-headphones {
  color: #e0162b;
  font-size: 32px;
}
